.container{
  margin-left: 10%;
  margin-right: 10%;
}
.message{
  margin-bottom: 13px;
}
.messages{
  height: 265px;
  overflow: auto;
}

.obj{
  position:absolute;
  background: red;
  width: 35px;
  height: 35px;
  border-radius:5px;
}
